

.inputbox {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 5px;
}


.inputbox input {
   height: 30px;
   border-radius: 5px;
   padding-left: 10px;
   border: 1px solid rgba(0, 0, 0, 0.47);
}
